.header {
    margin: 0 auto;
    position: absolute;
    left: 27%;
}

h3,
h4 {
    text-align: center;
    text-transform: capitalize;
    font-size: 15px;
}

.visa {
    margin: 0 auto;
    width: 200px;
    text-align: center
}

.visa img {
    width: 150px;
}

input {
    height: 40px;
    width: 100%;
    color: gray;
    border: 1px solid rgb(191, 191, 191);
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
}

h2 {
    text-emphasis: none;
    text-align: center;
    color: red;
    text-transform: capitalize;
}

input:focus {
    border-color: red;
}

.content {
    margin-bottom: 20px;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 3px;
    ;
}

.tab-content {
    width: 49%;
    float: left
}

.tab-content-space {
    margin-left: 2%;
}

button[type=submit] {
    background-color: steelblue;
    color: white;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    height: 40px;
    width: 100%;
    color: gray;
    border: 1px solid rgb(191, 191, 191);
    padding: 10px;
    background-color: white;
    background-image: url(../images/down.png);
    background-position: 98%;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

.overflow {
    height: 450px;
    overflow: scroll
}

