{% extends 'email.base.html' %}
{% block content %}
    <h1>Hi {{ user.first_name }},</h1>
    <p>
        A PIP has just been raised for you.
    </p>
    <p>
        Please use the button below to view the PIP for next action.
    </p>
    <table class="action" align="center" width="100%" cellpadding="0" cellspacing="0" role="presentation">
        <tr>
            <td align="center">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                    <tr>
                        <td align="center">
                            <table border="0" cellpadding="0" cellspacing="0" role="presentation">
                                <tr>
                                    <td>
                                        <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'p_i_p:view' reference=pip.reference %}" class="button button-primary" target="_blank">View PIP</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table class="subcopy" width="100%" cellpadding="0" cellspacing="0" role="presentation">
        <tr>
            <td>
                If you’re having trouble clicking the "View PIP" button,
                copy and paste the URL below into your web browser:
                <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'p_i_p:view' reference=pip.reference %}">{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'p_i_p:view' reference=pip.reference %}</a>
            </td>
        </tr>
    </table>
{% endblock %}