{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'theme/vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'theme/vendor/chartist/css/chartist.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'theme/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css' %}"/>
{% endblock %}
{% block content %}
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Dashboard</h2>

            </div>
            <div class="col-lg-7 col-md-4 col-sm-12">
{#                <ul class="breadcrumb pull-right">#}
{#                    <li class="breadcrumb-item"><a href="#"><i class="icon-home"></i></a></li>#}
{#                    <li class="breadcrumb-item active">Dashboard</li>#}
{#                </ul>#}
{#                <div class="clear"></div>#}
{#                <div class="inlineblock text-center m-r-15 m-l-15 hidden-sm">#}
{#                    <div class="sparkline text-left" data-type="line" data-width="8em" data-height="20px" data-line-Width="1" data-line-Color="#00c5dc"#}
{#                        data-fill-Color="transparent">3,5,1,6,5,4,8,3</div>#}
{#                    <span>Visitors</span>#}
{#                </div>#}
{#                <div class="inlineblock text-center m-r-15 m-l-15 hidden-sm">#}
{#                    <div class="sparkline text-left" data-type="line" data-width="8em" data-height="20px" data-line-Width="1" data-line-Color="#f4516c"#}
{#                        data-fill-Color="transparent">4,6,3,2,5,6,5,4</div>#}
{#                    <span>Visits</span>#}
{#                </div>#}
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <div class="card overflowhidden number-chart">
                <div class="body">
                    <div class="number">
                        <h6>TOTAL KRAs</h6>
                        <span>{{ user.kras.count }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <div class="card overflowhidden number-chart">
                <div class="body">
                    <div class="number">
                        <h6>TOTAL PIPs</h6>
                        <span>{{ user.pips.count }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <div class="card overflowhidden number-chart">
                <div class="body">
                    <div class="number">
                        <h6>TOTAL TASK</h6>
                        <span>{{ user.profile.tasks.count }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <div class="card overflowhidden number-chart">
                <div class="body">
                    <div class="number">
                        <h6>PENDING TASK</h6>
                        <span>{{ user.profile.pending_tasks.count }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="header">
                    <h2>TASK CHART</h2>
{#                    <ul class="header-dropdown">#}
{#                        <li class="dropdown">#}
{#                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>#}
{#                            <ul class="dropdown-menu dropdown-menu-right">#}
{#                                <li><a href="javascript:void(0);">Action</a></li>#}
{#                                <li><a href="javascript:void(0);">Another Action</a></li>#}
{#                                <li><a href="javascript:void(0);">Something else</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                    </ul>#}
                </div>
                <div class="body">
                    <div id="chart-top-products" class="chartist"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Recent Tasks</h2>
                </div>
                <div class="body">
                    <ul class="list-unstyled feeds_widget">
                        {% for task in user.profile.tasks.all|slice:"4" %}
                            <li onclick='viewTask("{{ task.title }}", "{{ task.created_by }}", "{{ task.assigned_to }}", `{{ task.content | linebreaks }}`, "{{ task.duration }}hour{{ task.duration | pluralize }}", "{{ task.date_created | date:"F d, Y h:i A" }}", "{{ task.date_updated | date:"F d, Y h:i A" }}", "{{ task.status }}", "{% url 'task:update' reference=task.reference %}", "{% if task.status == 'Completed' %}text-success{% elif task.status == 'Cancelled' %}text-danger{% elif task.out_of_time %}text-warning{% else %}text-primary{% endif %}");'>
                                <div class="feeds-left"><i class="fa fa-thumbs-o-up"></i></div>
                                <div class="feeds-body">
                                    <h4 class="title">{{ task.title | title }} <small class="float-right text-muted">{{ task.date_created | timesince:now }}</small></h4>
                                    <small>{{ task.content | truncatewords:"10" }}</small>
                                    <small class={% if task.status == 'Completed' %}'text-success'{% elif task.status == 'Cancelled' %}'text-danger'{% elif task.out_of_time %}'text-warning'{% else %}'text-primary'{% endif %}>
                                        {{ task.status }}
                                    </small>
                                </div>
                            </li>
                        {% empty %}
                            <p>You do not have a task yet</p>
                        {% endfor %}
                    </ul>
                    {% if user.profile.tasks.count > 4 %}
                        <p class="text-center">
                            <a href="{% url 'task:management' %}">View all</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Default Size -->
    <div class="modal fade" id="viewtask" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="title" id="defaultModalLabel">View Task</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <tr>
                            <th class="text-center">Created By:</th>
                            <td class="text-center" id="created_by"></td>
                        </tr>
                        <tr>
                            <th class="text-center">Assigned To:</th>
                            <td class="text-center" id="assigned_to"></td>
                        </tr>
                        <tr>
                            <th class="text-center">Title:</th>
                            <td class="text-center" id="title"></td>
                        </tr>
                        <tr>
                            <th class="text-center">Description:</th>
                            <td class="text-center" id="description"></td>
                        </tr>
                        <tr>
                            <th class="text-center">Duration:</th>
                            <td class="text-center" id="duration"></td>
                        </tr>
                        <tr>
                            <th class="text-center">Date Created:</th>
                            <td class="text-center" id="date_created"></td>
                        </tr>
                        <tr>
                            <th class="text-center">Date Updated:</th>
                            <td class="text-center" id="date_updated"></td>
                        </tr>
                        <tr>
                            <th class="text-center">Status:</th>
                            <td class="text-center" id="status"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="cancelTaskBtn" onclick="showAlert(this, 'Are you sure you want to cancel this task?')" type="button" class="btn btn-danger">Cancel Task</button>
                    <button id="completeTaskBtn" onclick="showAlert(this, 'Are you sure you want to mark this task as completed?')" type="button" class="btn btn-primary">Mark as completed</button>
                    <button type="button" class="btn btn-simple" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        let TASK_LABELS = [
            {% for label in task_chart_labels %}"{{ label }}"{% if not forloop.last %},{% endif %}{% endfor %}
        ];
        let TASK_DATA = [
            {% for value in task_chart_values %}"{{ value }}"{% if not forloop.last %},{% endif %}{% endfor %}
        ];
        function viewTask(title, created_by, assigned_to, description, duration, date_created, date_updated, status, url, cls) {
            $("#viewtask #title").text(title);
            $("#viewtask #created_by").text(created_by);
            $("#viewtask #assigned_to").text(assigned_to);
            $("#viewtask #description").html(description);
            $("#viewtask #duration").text(duration);
            $("#viewtask #date_created").text(date_created);
            $("#viewtask #date_updated").text(date_updated);
            $("#viewtask #status").html("<span class='"+cls+"'>"+status+"</span>");
            if (status != "Pending"){
                $("#viewtask #cancelTaskBtn").hide();
                $("#viewtask #completeTaskBtn").hide();
            }else{
                $("#viewtask #cancelTaskBtn").attr("data-url", url+"?status=Cancelled");
                $("#viewtask #completeTaskBtn").attr("data-url", url+"?status=Completed");
                $("#viewtask #cancelTaskBtn").show();
                $("#viewtask #completeTaskBtn").show();
            }
            $("#viewtask").modal();
        }
        function showAlert($this, message){
            $this = $($this);
            console.log($this.data("url"));
            swal({
              title: "Are you sure?",
              text: message,
              icon: "warning",
              buttons: true,
              dangerMode: true,
            })
            .then((willDelete) => {
              if (willDelete) {
                  resp = fetch($this.data("url"));
                  return resp;
              }
            }).then(results => {
                if (results){
                    swal({
                      title: "Success",
                      text: "Operation successful!",
                      icon: "success",
                      button: "Close",
                    }).then(function (){
                        window.location.reload();
                    });
                }
            }).catch(err => {
              if (err) {
                swal("Oops!", "Something went wrong while performing your request", "error");
              } else {
                swal.stopLoading();
                swal.close();
              }
            });
        }
    </script>

    <script src="{% static 'theme/bundles/chartist.bundle.js' %}"></script>
    <script src="{% static 'theme/bundles/knob.bundle.js' %}"></script>
    <script src="{% static 'theme/js/frontend.index.js' %}"></script>
{% endblock %}