{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2>
                    <a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    Add Departments
                </h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="{% url 'company:departments' %}">Manage Departments</a></li>
                    <li class="breadcrumb-item active">Add Departments</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12">
            <div class="card planned_task">
                <div class="header">
                    <h2>Add Departments</h2>
                </div>
                <div class="body">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.management_form }}
                        {% if form.non_forms_error %}
                            <div class="alert alert-danger">
                                {{ form.non_forms_error.as_ul }}
                            </div>
                        {% endif %}
                        <table role="table" class="table table-striped">
                            {% for f in form.forms %}
                                {% if forloop.first %}
                                    <thead>
                                        <tr>
                                            {% for field in f.visible_fields %}
                                                <th>{{ field.label|capfirst }}</th>
                                            {% endfor %}
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                {% endif %}
                                <tr class="formset_row">
                                    {% for field in f.visible_fields %}
                                        <td>
                                            {# Include the hidden fields in the form #}
                                            {% if forloop.first %}
                                                {% for hidden in f.hidden_fields %}
                                                    {{ hidden }}
                                                {% endfor %}
                                            {% endif %}
                                            {% if field == f.director %}
                                                {% render_field field class+="form-control ms search-select" %}
                                            {% else %}
                                                {% render_field field class+="form-control" %}
                                            {% endif %}
                                            {% if field.errors %}
                                                <br>
                                                <div class="alert alert-danger">
                                                    {{ field.errors.as_ul }}
                                                </div>
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                {% if forloop.last %}
                                    </tbody>
                                {% endif %}
                            {% endfor %}
                        </table>
                        <input type="submit" value="Submit" class="btn btn-default btn-lg">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'theme/vendor/multi-select/js/jquery.multi-select.js' %}"></script> <!-- Multi Select Plugin Js -->
    <script src="{% static 'theme/vendor/bootstrap-multiselect/bootstrap-multiselect.js' %}"></script>
    <script src="{% static 'theme/vendor/select2/select2.min.js' %}"></script> <!-- Select2 Js -->
    <script src="{% static 'scripts/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $('.formset_row').formset({
            addText: '<i class="fa fa-plus"></i> Add more',
            deleteText: 'remove',
            addCssClass: "btn btn-default add-row",
            deleteCssClass: "text-danger add-row",
            prefix: 'departments'
        });
        $('.search-select').multiselect({
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            maxHeight: 200,
            buttonWidth: "100%",
            templates: {
                li: '<li><a tabindex="0" style="display: block"><label></label></a></li>',
                ul: '<ul class="multiselect-container dropdown-menu w-100"></ul>'
            }
            {#buttonContainer: '<div class="btn-group btn-block" />'#}
        });
    </script>
{% endblock %}